html,
body {
  height: 100%;
}
body {
  background-color: #0f0a07;
  color: #fff;
}
.im-active img {
  background-color: #0f0a07;
}
.im-content {
  position: relative;
  width: 100%;
}
.im-footer {
  background-color: #222;
  padding: 20px 20px 10px;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
input.form-control {
  background: none !important;
  color: #fff !important;
  padding: 30px 18px 31px !important;
  margin: 10px 0 10px;
  font-size: 20px !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.im-logo {
  text-align: center;
  padding: 5px;
}
.im-language ul {
  float: right;
}
.im-language ul li {
  list-style-type: none;
  display: inline;
}
.objects .pagination-arrow {
  text-align: center;
  z-index: 1;
}
.objects .pagination-arrow i {
  position: absolute;
  cursor: pointer;
  font-size: 60px;
  top: 39px;
}
.objects .pagination-arrow i#im-left {
  left: 0;
}
.objects .pagination-arrow i#im-right {
  right: 0;
}
.object {
  width: 100%;
}
.object img {
  width: 100%;
}
.object .carousel a i {
  font-size: 40px;
}
.object .carousel h5 i,
.object .carousel a i {
  color: #d7af69;
}
.object .carousel h5 i {
  font-size: 40px;
}
.object .carousel p {
  font-size: 22px;
}
.slider {
  z-index: 1;
  overflow: hidden;
}
.slider .row {
  margin: -7px;
}
.menu,
.logo {
  position: absolute;
  z-index: 2;
}
.logo {
  top: 50px;
  left: 80px;
}
.logo .carousel-caption {
  display: none !important;
}
.logo-min {
  position: relative;
}
.right-menu-box {
  width: 0%;
  height: 100%;
  background: #d7af69;
  z-index: 3;
  position: fixed;
  right: 0;
  top: 0;
}
.right-menu-box .right-menu {
  display: none;
  padding: 15px;
}
.right-menu-box .right-menu .no-data,
.right-menu-box .right-menu .carousel-caption {
  display: none !important;
}
.right-menu-box .right-menu .object img {
  border: 5px solid #fff;
}
.menu {
  top: 35px;
  right: 80px;
}
.menu a {
  color: #fff;
  font-size: 16px;
}
.menu li .active-arrow {
  width: 100%;
  text-align: center;
}
.menu li .active-arrow i {
  font-size: 26px;
  text-align: center;
  position: relative;
  top: -8px;
  color: #d7af69;
}
.menu li.active a {
  color: #d7af69;
}
.menu .navbar-nav li:last-child {
  width: 30px;
}
.menu .navbar-nav li:last-child i {
  font-size: 24px;
  padding-top: 1px;
}
.menu #im_section-name-5 {
  display: none;
}
.icon-scroll-down {
  position: relative;
  color: #fff;
  top: 120px;
}
.icon-scroll-down div {
  width: 100%;
}
.icon-scroll-down div img {
  width: 150px;
  opacity: 0.1;
}
.icon-scroll-down .object {
  position: absolute;
  top: -400px;
  margin-left: 30px;
}
.icon-scroll-down .object h5 {
  display: none;
}
#process,
#scroll-top {
  color: #d7af69;
}
#scroll-top {
  background: #fff;
  padding: 7px;
  opacity: 0.7;
  z-index: 3;
}
.fixed-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #0f0a07;
  padding-left: 33px;
  width: 100%;
  z-index: 20;
}
.content {
  padding: 50px 15% 150px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
}
.content .title {
  color: #d7af69;
  font-size: 46px;
  width: border-box;
  padding: 50px 0 50px;
}
.content .text {
  font-size: 26px;
}
.before-content-title {
  padding: 180px 0 100px;
  font-size: 40px;
  color: #fff !important;
}
.after-content-title {
  margin-bottom: -110px;
  font-size: 40px;
}
.trust {
  padding: 150px 250px 100px;
  background-color: #fff;
}
.trust .carousel-item {
  padding: 20px;
}
.trust .carousel-caption {
  display: none !important;
}
.trust .pagination-arrow {
  color: #0f0a07;
}
.trust img {
  width: auto;
}
.form-title {
  padding-top: 42px;
  font-size: 32px;
}
.contact-form img {
  float: left;
}
.im-send {
  background: none;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  color: #fff;
  font-size: 16px;
  padding: 12px;
  margin: 0 10px 0;
  float: left;
}
.next-map a,
.footer-left a,
.footer-right a {
  font-size: 16px !important;
  color: #fff;
}
.next-map i.fal,
.footer-left i.fal,
.footer-right i.fal {
  color: #d7af69;
  font-size: 20px;
}
.company-data {
  padding: 20px;
  line-height: 30px;
}
.company-data .carousel-caption {
  display: none !important;
}
.company-data img {
  width: auto;
  padding-bottom: 20px;
}
.footer-right {
  padding: 40px;
}
.footer-right .navbar-nav li:last-child {
  display: none;
}
.footer-right .site-map-title {
  padding-bottom: 20px;
}
.footer-right .site-map-title i {
  font-size: 28px;
}
.footer-bottom {
  padding-top: 20px;
}
.footer-bottom a {
  color: #d7af69;
}
.objects.blog .object {
  padding: 20px 50px 20px;
  border: 2px solid #fff;
  line-height: 28px;
}
.objects.blog .object .carousel-caption {
  display: none !important;
}
@media (max-width: 1800px) {
  .trust {
    padding-left: 50px;
    padding-right: 50px;
  }
  .content {
    padding-top: 0;
    padding-bottom: 80px;
  }
}
@media (max-width: 1200px) {
  .objects .pagination-arrow i {
    top: 100px;
  }
  .content .title {
    font-size: 30px;
    padding-bottom: 10px;
  }
  .content .text {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .objects .pagination-arrow i {
    top: 250px;
  }
}
@media (max-width: 992px) {
  .menu li:last-child {
    display: none;
  }
  .im-content {
    width: 100% !important;
  }
  .right-menu-box {
    width: 0% !important;
  }
  .right-menu {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .fixed-menu {
    position: absolute;
    top: 35px;
    left: unset;
    right: 80px;
    background: none;
    padding-left: unset;
    width: auto;
    z-index: 2;
  }
}
@media (max-width: 576px) {
  .menu {
    top: 0px;
    right: 45px;
  }
  .logo-min {
    top: -42px;
    left: -22px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  .content .title {
    font-size: 20px;
  }
  .content .text {
    font-size: 14px;
  }
}
/*# sourceMappingURL=main.css.map */