html,
body {
  height: 100%;
}
body {
  background-color: #0f0a07;
  color: #fff;
}
.im-active img {
  background-color: #0f0a07;
}
.im-content {
  position: relative;
  width: 100%;
}
.im-footer {
  background-color: #222;
  padding: 20px 20px 10px;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
input.form-control {
  background: none !important;
  color: #fff !important;
  padding: 5px 8px 7px !important;
  margin: 5px 0 5px;
  font-size: 16px !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  border-color: #555;
}
.im-logo {
  text-align: center;
  padding: 5px;
}
.im-language ul {
  float: right;
}
.im-language ul li {
  list-style-type: none;
  display: inline;
}
.im-content .portfolio .object {
  border: 15px solid #0f0a07;
  padding-bottom: 50px;
}
.im-content .portfolio .object .carousel-inner {
  overflow: unset;
}
.im-content .portfolio .object .carousel-caption {
  bottom: -58px;
  display: block !important;
}
.objects .pagination-arrow {
  text-align: center;
  z-index: 1;
}
.objects .pagination-arrow i {
  position: absolute;
  cursor: pointer;
  font-size: 60px;
  top: 39px;
}
.objects .pagination-arrow i#im-left {
  left: 0;
}
.objects .pagination-arrow i#im-right {
  right: 0;
}
.object {
  width: 100%;
}
.object img {
  width: 100%;
}
.object .carousel a i {
  font-size: 40px;
}
.object .carousel h5 i,
.object .carousel a i {
  color: #d7af69;
}
.object .carousel h5 i {
  font-size: 40px;
}
.object .carousel p {
  font-size: 22px;
}
.objects:not(.slider) .object img:hover {
  opacity: 0.8;
}
.slider {
  z-index: 1;
  overflow: hidden;
}
.slider .row {
  margin: -7px;
}
.slider h5 section {
  font-size: 30px;
  color: #d7af69;
}
.slider p section {
  font-size: 17px;
}
.menu,
.logo {
  position: absolute;
  z-index: 2;
}
.logo {
  top: 50px;
  left: 80px;
}
.logo .carousel-caption {
  display: none !important;
}
.logo-min {
  position: relative;
}
.right-menu-box {
  width: 0%;
  height: 100%;
  background: #ddd;
  z-index: 3;
  position: fixed;
  right: 0;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.right-menu-box .objects:not(.right-menu-title) {
  padding: 20px;
}
.right-menu-box .objects:not(.right-menu-title) .object {
  padding-bottom: 50px;
}
.right-menu-box .objects:not(.right-menu-title) .object .carousel-inner {
  overflow: unset;
}
.right-menu-box .objects:not(.right-menu-title) .object .carousel-caption {
  bottom: -50px;
  color: #0f0a07;
}
.right-menu-box .right-menu-title,
.right-menu-box .portfolio,
.right-menu-box .inner-link {
  display: none;
}
.right-menu-box .right-menu-title .no-data,
.right-menu-box .portfolio .no-data,
.right-menu-box .inner-link .no-data {
  display: none !important;
}
.right-menu-box .right-menu-title {
  margin-top: 22px;
}
.right-menu-box .right-menu-title section {
  font-size: 28px;
}
.right-menu-box .portfolio .no-data {
  display: none !important;
}
.right-menu-box .portfolio .object {
  padding: 10px;
}
.right-menu-box .portfolio .object img {
  border: 5px solid #ddd;
}
.right-menu-box .portfolio .object .translation {
  font-size: 13px;
}
.right-menu-box .inner-link {
  text-align: center;
}
.right-menu-box .inner-link a {
  font-size: 16px;
  opacity: 0.8;
}
.menu {
  top: 35px;
  right: 80px;
}
.menu a {
  color: #fff;
  font-size: 16px;
}
.menu a .translation {
  font-size: 16px;
}
.menu li .active-arrow {
  width: 100%;
  text-align: center;
}
.menu li .active-arrow i {
  font-size: 22px;
  text-align: center;
  position: relative;
  top: -8px;
  color: #d7af69;
}
.menu li.active a {
  color: #d7af69;
}
.menu .navbar-nav li:last-child {
  width: 30px;
  display: none;
}
.menu .navbar-nav li:last-child i {
  font-size: 24px;
  padding-top: 1px;
}
.menu #im_section-name-5 {
  display: none;
}
.icon-scroll-down {
  position: absolute;
  color: #fff;
  bottom: 145em;
}
.icon-scroll-down div {
  width: 100%;
}
.icon-scroll-down div img {
  width: 5%;
  opacity: 0.1;
}
.icon-scroll-down .object {
  position: absolute;
  margin-left: 30px;
}
.icon-scroll-down .object h5 {
  display: none;
}
#process,
#scroll-top {
  color: #d7af69;
}
#scroll-top {
  background: #fff;
  padding: 7px;
  opacity: 0.7;
  z-index: 3;
}
.fixed-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #0f0a07;
  padding-left: 33px;
  width: 100%;
  z-index: 20;
}
.content {
  padding: 50px 15% 150px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
}
.content .title {
  color: #d7af69;
  font-size: 46px;
  width: border-box;
  padding: 50px 0 50px;
}
.content .text {
  font-size: 26px;
}
.before-content-title {
  padding: 180px 0 100px;
  color: #fff !important;
}
.before-content-title .translation,
.after-content-title .translation {
  font-size: 30px;
}
.after-content-title {
  margin-bottom: -80px;
  font-size: 40px;
}
.trust {
  padding: 100px 250px 50px;
  background-color: #fff;
}
.trust .carousel-item {
  padding: 20px;
}
.trust .carousel-caption {
  display: none !important;
}
.trust .pagination-arrow {
  color: #0f0a07;
}
.trust img {
  width: auto;
}
.form-title {
  padding-top: 18px;
}
.form-title .translation {
  font-size: 28px;
}
.contact-form {
  padding: 200px;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.contact-form img {
  float: left;
}
.im-send {
  background: none;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  color: #fff;
  font-size: 16px;
  padding: 12px;
  margin: 0 10px 0;
  float: left;
}
.next-map a,
.footer-left a,
.footer-right a {
  font-size: 16px !important;
  color: #fff;
}
.next-map i.fal,
.footer-left i.fal,
.footer-right i.fal {
  color: #d7af69;
  font-size: 20px;
}
.company-data {
  padding: 20px;
  line-height: 30px;
}
.company-data .carousel-caption {
  display: none !important;
}
.company-data img {
  width: auto;
  padding-bottom: 20px;
}
.footer-right {
  padding: 12px;
}
.footer-right .navbar-nav li:last-child {
  display: none;
}
.footer-right .site-map-title {
  padding-bottom: 20px;
}
.footer-right .site-map-title section {
  font-size: 28px;
}
.footer-bottom {
  padding-top: 20px;
}
.footer-bottom a {
  color: #d7af69;
}
.footer-bottom img {
  width: 200px;
  margin-bottom: 6px;
}
.footer-bottom .carousel-caption {
  display: none !important;
}
.objects.blog .object {
  padding: 20px 50px 20px;
  border: 7px solid #0f0a07;
  background-color: #eee;
  line-height: 28px;
}
.objects.blog .object .carousel-caption {
  display: none !important;
}
.objects.blog .object i,
.objects.blog .object .blog-date,
.objects.blog .object .translation {
  color: #555;
}
.objects.blog .object i.fad,
.objects.blog .object i.fal {
  font-size: 18px;
}
.objects.blog .object .h3 section {
  font-size: 20px;
  margin-top: 20px;
}
.portfolio-content .portfolio-title {
  margin-bottom: 20px;
  text-align: center;
}
.portfolio-content .portfolio-title section {
  font-size: 24px;
}
.portfolio-content .portfolio-text {
  line-height: 32px;
}
.portfolio-content .portfolio-source {
  padding: 30px;
}
.portfolio-content .portfolio-source .portfolio-player {
  padding: 0;
}
#cookie {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 60px;
  z-index: 1;
  color: #0f0a07;
}
.language ul {
  position: fixed;
  z-index: 12;
  top: 53px;
  right: 1px;
}
.language ul li {
  list-style-type: none;
  padding: 5px;
  border: 1px solid #ddd;
  margin: 1px;
}
.language ul li a {
  color: #ddd;
}
.social-media {
  position: absolute;
  left: 15px;
  top: 230px;
}
.social-media .object {
  opacity: 0.9;
  padding: 8px 3px 5px;
  margin-top: 1px;
  background: #555;
  z-index: 12;
}
.social-media .object i {
  color: #fff;
  font-size: 24px;
}
.about-us .carousel-caption {
  display: none !important;
}
.about-us .object .translation p {
  font-size: 19px;
  line-height: 34px;
  padding-top: 20px;
}
.editor {
  width: 100%;
  min-height: 199px;
  background: none;
  padding: 5px 8px 7px !important;
  color: #fff;
  border: 1px solid #555;
}
.alert1 {
  text-align: center;
  font-size: 20px;
  color: #d7af69;
}
#im_object-content-7 .title {
  font-size: 28px;
}
@media (max-width: 2300px) {
  .contact-form {
    padding: 50px;
  }
}
@media (max-width: 1800px) {
  .trust {
    padding-left: 50px;
    padding-right: 50px;
  }
  .content {
    padding-top: 0;
    padding-bottom: 80px;
  }
  #im_object-content-7 .title {
    font-size: 24px;
  }
  .icon-scroll-down {
    bottom: 137em;
  }
}
@media (max-width: 1200px) {
  .objects .pagination-arrow i {
    top: 100px;
  }
  .content .title {
    font-size: 30px;
    padding-bottom: 10px;
  }
  .content .text {
    font-size: 16px;
  }
  #im_object-content-7 .title {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .objects .pagination-arrow i {
    top: 250px;
  }
  #im_object-content-7 .title {
    font-size: 16px;
  }
  .icon-scroll-down {
    bottom: 140em;
  }
  .im-content {
    width: 100% !important;
  }
  .right-menu-box {
    width: 0% !important;
    display: none !important;
  }
}
@media (min-width: 992px) {
  .fixed-menu {
    position: absolute;
    top: 35px;
    left: unset;
    right: 80px;
    background: none;
    padding-left: unset;
    width: auto;
    z-index: 2;
  }
}
@media (max-width: 576px) {
  .menu {
    top: 0px;
    right: 45px;
  }
  .logo-min {
    top: -42px;
    left: -22px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  .content .title {
    font-size: 20px;
  }
  .content .text {
    font-size: 14px;
  }
  #im_object-content-7 .title {
    font-size: 14px;
    line-height: 32px;
  }
}
/*# sourceMappingURL=main.css.map */