.im-logo{
  text-align: center;
  padding: 5px;
}
.im-footer{
  background-color: @black;
  min-height: 300px;
}
.im-language{
  ul{
    float: right;
    li{
      list-style-type: none;
      display: inline;
    }
  }
}
.objects{
  .pagination-arrow{
    text-align: center;
    i{
      margin: 5px;
      cursor: pointer;
    }
  }
}
.object{
  img{
    width: 100%;
  }
  .carousel{
    a i{
      font-size: 40px;
    }
    h5 i, a i{
      color: @accent;
    }
    h5 i{
      font-size: 40px;
    }
    p{
      font-size: 22px;
    }
  }
}
.slider{
  z-index: 1;
  .object{
    width: 100%;
  }
}
.menu, .logo{
  position: absolute;
  z-index: 2;
}
.logo{
  top: 50px;
  left: 80px;
  .carousel-caption{
    display: none !important;
  }
}
.menu{
  top: 35px;
  right: 80px;
  a{
    color: @white;
  }
}