.container-fluid{
  margin: 0;
  padding: 0;
}
input.form-control{
  background: none !important;
  color: @white !important;
  padding: 30px 18px 31px !important;
  margin: 10px 0 10px;
  font-size: 20px !important;
  .border-radius(0);
}